<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <authentication mode="Windows" />
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>

    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
          <basicHttpBinding>
                <binding name="AnotherServer.HelloService2.customBinding0">
                  <security mode="TransportCredentialOnly">
                    <transport clientCredentialType="Ntlm" />
                  </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="AnotherServer.HelloService2">
                <endpoint address="" binding="basicHttpBinding" bindingConfiguration="AnotherServer.HelloService2.customBinding0"
                    contract="AnotherServer.HelloService2" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
